@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: 'Poppins', sans-serif;
}
@layer base{
    body{
        background: #F8F7F4;
    }
    .carousel-item {
        transition: transform 2ms ease-in; 
    }
}
